<ion-view title="End" class="end newshop">
    <ion-header-bar>    	
    </ion-header-bar>
    		
    <ion-content padding="false" scroll="false">    	
    		
		<div style="text-align:center" class="icon ion-ribbon-b void">		
   			<div>
	 		<p>
	 			Congratulazioni! Ora hai un negozio nuovo che ti aspetta!		 			
	 		</p>
	 		<button class="button icon-left ion-home" ng-click="saveShop()">Entra</button>
	 		</div>
	 	</div>	 
	    	              
    </ion-content>
    
    <ion-footer-bar class="bar-positive">
    	<button class="button button-small icon-left ion-chevron-left button-clear" ui-sref="^.colors">Templates</button>    	    
    </ion-footer-bar>
</ion-view>