<style>
input.error {
    border-bottom: solid 1px red;
	}
</style>
<ion-view ng-controller="sliderController" class="wizard">

	<!-- admin/shop/layout.html -->
	<form name="form" ng-submit="saveShop(form)" novalidate>	 
		<div class="close ion-close-circled" ui-sref="shops.list"></div>
		<div class="save ion-checkmark-circled" ng-click="saveShop(form)"></div>
	
		<ion-content padding="false" scroll="false" has-bouncing="false">	
			
			<ion-slides  options="{loop: false,effect: 'slide',speed: 500}"  slider="data.slider">			
			  <ion-slide-page name="categorie">
			    <ng-include src="'views/admin/shop/categorie.html'"/>
			  </ion-slide-page>
			  <ion-slide-page name="currencies">
			    <ng-include src="'views/admin/shop/currency.html'"/>
			  </ion-slide-page>
			  <ion-slide-page name="gallery">
			    <ng-include src="'views/admin/shop/gallery.html'"/>
			  </ion-slide-page>
			  <ion-slide-page name="style">
			    <ng-include src="'views/admin/shop/colors.html'"/>
			  </ion-slide-page>
			</ion-slides>
			
		</ion-content>
	</form>
	
	<ion-footer-bar class="bar-positive">	
		<div class="button button-small button-clear icon-left ion-chevron-left" ng-hide="data.slider.isBeginning" ng-click="data.slider.slidePrev()">BACK</div>
    	<div class="button button-small button-clear icon-right ion-chevron-right" ng-hide="data.slider.isEnd"  ng-click="data.slider.slideNext()">NEXT</div>    	
    </ion-footer-bar>
	<!--ion-nav-view></ion-nav-view-->
	<!--/ admin/shop/layout.html -->
</ion-view>