<ion-view title="Addresses">    
	  	<ion-nav-buttons side="right">
          <button class="button"  ui-sref=".new">
            <i class="icon ion-plus-circled"></i>
          </button>
        </ion-nav-buttons>	
    	
    <ion-content padding="false" scroll="true">	
    
    	<div class="list">    	
    	  <a class="item item-icon-left item-icon-right" ui-sref=".edit({address:name})" ng-repeat="(name,address) in shop.addresses">    	  
		    <i class="icon"  ng-class="{'ion-home':address.type=='home','ion-briefcase':address.type=='work'}"></i>
		    <b>{{address.firstName}} {{address.lastName}}</b>
		    <div>{{address.line1}}</div>
		    <div>{{address.zip}} {{address.city}}</div>
		    <div>{{address.country}}</div>
		    <i class="icon ion-chevron-right"></i>
		  </a>    	  
    	</div>
    	
    	
    </ion-content>
</ion-view>