
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AngularJS Masonry Directive</title>
        <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/united/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                margin-top: 1em;
            }

            .masonry-brick {
                margin: 1em;
                display: none;
            }

            .masonry-brick.loaded {
                display: block;
            }
        </style>
    </head>
    <body class="container" ng-app="masonryApp">

        <div class="row" ng-controller="DemoCtrl">
            <div class="span12">
                <h2>In Action</h2>
                <div class="btn-group">
                    <button class="btn btn-primary" ng-click="add()">Add</button>
                    <button class="btn btn-danger" ng-click="remove()">Remove</button>
                </div>
                <div masonry>
                    <div class="masonry-brick" ng-repeat="brick in bricks">
                        <img ng-src="{{ brick.src }}" alt="A masonry brick">
                    </div>
                </div>               
            </div>
        </div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/masonry/dist/masonry.pkgd.min.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-masonry/angular-masonry.js"></script>

        <script>
            angular.module('masonryApp', ['wu.masonry']).
                controller('DemoCtrl', function ($scope) {
                    function genBrick() {
                        var height = ~~(Math.random() * 500) + 100;
                        var id = ~~(Math.random() * 10000);
                        return {
                            src: 'http://lorempixel.com/g/280/' + height + '/?' + id
                        };
                    };

                    $scope.bricks = [
                        genBrick(),
                        genBrick(),
                        genBrick(),
                        genBrick(),
                        genBrick()
                    ];

                    $scope.add = function add() {
                        $scope.bricks.push(genBrick());
                    };

                    $scope.remove = function remove() {
                        $scope.bricks.splice(
                            ~~(Math.random() * $scope.bricks.length),
                            1
                        )
                    };
                });
        </script>
    </body>
</html>
