<ion-view class="welcome-view" cache-view="false">

  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-center">
        <h1 class="app-logo">{{config.name}}</h1>
        {{avatar}}
        <img ng-src="{{avatar}}"/>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
      	<a class="button button-block icon-left"  ui-sref="shops.list">
          <span class="btn-copy">Skip login</span>
        </a>      
        <a class="google-sign-in button button-block icon-left ion-social-google" ng-click="googleSignIn()">
          <span class="btn-copy">Google</span>
        </a>
        <a class="facebook-sign-in button button-block icon-left ion-social-facebook" ng-click="FBlogin()">
          <span class="btn-copy" >Facebook</span>
        </a>
        <div class="row split-actions">
          <div class="col">
            <a class="button button-block button-outline" ui-sref="community.register">
              Sign Up
            </a>
          </div>
          <div class="col">
            <a class="button button-block button-outline"  ui-sref="community.login">
              Log In
            </a>
          </div>
        </div>
        <div class="other-options-outer">
          <a ng-show="!show_hidden_actions" animation="'fade'" ng-click="show_hidden_actions=!show_hidden_actions" class="other-options button button-clear button-block">
            Show more
          </a>
          <div ng-cloak ng-show="show_hidden_actions" animation="'fade'" class="hidden-actions ng-cloak ng-hide">
            <a class="twitter-sign-in button button-block icon-left ion-social-twitter" ng-click="twitterSignIn()">
              <span class="btn-copy">Twitter</span>
            </a>
          </div>
        </div>
        <section ng-include="'views/partials/legal-notice.html'"></section>
      </div>
    </div>
  </ion-content>
</ion-view>
