  <style>
  	.confirm .scroll
  		{
  		height:100%;
  		}
  	.confirm .card
  	{
      position: absolute;
    top: 50%;
    height: 200px;
    margin-top: -100px;
    width:90%;
    margin-left:5%;
    }
  </style>
  <ion-view title="Confirm"  scroll="false" class="confirm">
				<ion-content>
					<ul class="list card animated bounceIn">
  						<li class="item item-text-wrap">
    						<H2>Benvenuto</H2><BR> 
    						Ti abbiamo appena inviato una mail... <BR><BR>
    						Clicca sul link e accendi!
  						</li>						
					</ul>					
			</ion-view>