<style>
textarea
	{
    border: solid 1px black;
    margin: 10px;
    width: 100%;
    height: 100%;
    }
</style>

<ion-view title="Testo">    			
	<ion-nav-buttons side="right">
          <button class="button"  ng-click="save()">
            Save
          </button>
        </ion-nav-buttons>				
    <ion-content padding="false" scroll="false">
    	<div class="row" style="height:90%">
    		<div class="col-90" style="height:100%">
    			<textarea></textarea>
    		</div>
    	</div>    	
    </ion-content>
</ion-view>    