 			<style>
 			.food.bar .button.button-icon .icon.food-italian:before , .food.bar .button.button-icon.food-italian:before, .food.bar .button.button-icon.icon-left.food-italian:before, .food.bar .button.button-icon.icon-right.food-italian:before 
 				{
				vertical-align: top;
				font-size: 34px;
				line-height: 32px;
				}
 			.food.bar .button.button-icon .icon:before, .food.bar .button.button-icon:before, .food.bar .button.button-icon.icon-left:before, .food.bar .button.button-icon.icon-right:before 
 				{
				vertical-align: top;
				font-size: 27px;
				line-height: 32px;
				}
				
			.preferred
				{
				position: absolute;
			    font-size: 34px;
			    }
			.goods .slider
				{
				height:100%;
				}
				
			.goods.gallery .masonry
				{
				-webkit-column-count:2;
    			-webkit-column-gap: 2px;  
				}
			.goods.gallery .good 
				{
				width:100%;
				}
			.goods.gallery .good img
				{
				height:initial;
				width:100%;	
				} 
 			</style>
 			<style>
 				
 				.lista .row .col
 					{
 					overflow:hidden;
 					position:relative;
 					}
 				.good
 					{
 					float: left;
				    margin: 0;
				    width: 50%;
				    padding-left: 4px;
  					padding-right: 4px;
 					}
 				.good img
 					{
 					height:200px;
 					} 				
 				.good .add
 					{ 					
 					  position: absolute;
					  font-size: 33px;
					  right: 2px;
					  top: 2px;
					  font-weight: bold;
					  background: white;
					  color: black;
					  border-radius: 50px;
					  width: 33px;
					  border-top-right-radius: 0px; 					
 					}
 				.good .sub
 					{ 					
 					position: absolute;
				  font-size: 33px;
				  left: 5px;
				  top: 2px;
				  font-weight: bold;
				  background: white;
				  color: black;
				  border-radius: 50px;
				  width: 33px;
				  border-top-left-radius: 0px;
 					}
 				.good .qta
 					{
 					position:absolute;
 					font-size:20px;
 					left:50%;
 					top:10px;
 					}
 
 				.good .topbar
 					{
 					transition-duration:1s;
 					position: absolute; 					
				    left: 0;
				    right: 0;
				    height: 46px;
 					}
 				
 				.good .bottombar
 					{
 					  transition-duration: 1s;
					  position: absolute;
					  right: 0;
					  height: 35px;
					  bottom: 18px;
					  background: rgba(255,255,255,.7);
					  line-height: 35px;
					  text-align: right;
					  padding-right: 10px;
					  padding-left: 10px;
					  font-size: 20px;
					  width: 100%;
					  border-top: solid 1px;
					  border-bottom: solid 1px black;
					  color:black;
					 }
			    .good .bottombar.active
			    	{
			      background: black;
				  color: white;
				  border-bottom: solid 1px white;
  					}
 				.good .bottombar .price
 					{}
 				.good .topbar.active
 					{ 					
				  //  background: rgba(255,255,255,.8);
				    }
				    
				 .item-icon-left.confirm A
				 	{
				 	background:#f0b840; 
				 	color:white;
				 	}
				 .item-icon-left.confirmed A
				 	{
				 	background:#498f24; 
				 	color:white;				 	
				 	}
				 .item-icon-left.rejected A
				 	{
				 	background:#ef4e3a; 
				 	color:white;
				 	}
				 	.view-container {    
    top: 0px;
}
 			</style>
 			
 			<ion-view class="goods lista" title="{{title}}">
 			
 			<ion-content scroll="false" padding="false" class="inArt">	  
 			<span  ng-controller="sliderController">          	  		
	 		<ion-slide-box  on-slide-changed="change($index)">	 		  			
	  			<ion-slide ng-repeat="i in groups" ng-init="updateSlider()"> 				
	  				<ion-content scroller scroll="true" padding="false" start-y="80">	  						
	  				<div class="list">
	  					<!--div class="item range range-positive">
    					<i class="icon ion-social-usd-outline"></i>
    					<input type="range" name="volume" min="0" max="100" value="33">
    					<i class="icon ion-social-usd"></i>
  					</div-->		  				
	  					<div class="list list-inset">
	  						<label class="item item-input">	  						
            				<i class="icon ion-search placeholder-icon"></i><input type="text" placeholder="to search..." ng-model="filter">
            				</label>
            			</div>            				 
            			 				
            			<div class="masonry">		  			
		  				<div class="list list-inset good" ng-repeat="item in list | filter:{categories:i.name,name:filter}" style="overflow:hidden;">
		  					                						    
						    	<div class="topbar" ng-class="{active:item.row.qta>0}">
							    	<div class="sub" ng-click="basket.sub(item)">					    		
							    		<i class="icon ion-ios-minus" ng-show="item.row.qta>0"></i>
							    	</div>
							    	<div class="qta" ng-show="item.row.qta>10">{{item.row.qta}}</div>
							    	<div class="add" ng-click="basket.sum(item)">					    		
							    		<i class="icon" ng-class="{'ion-ios-plus-outline':item.row==null,'ion-ios-plus':item.row.qta>0}"></i>
							    	</div>
						    	</div>
						    						    	
						    	<img image-lazy-src="{{item.gallery[0].img}}" image-lazy-loader="lines" ui-sref="pub.item({id:item.id})">
						    	
						    	<div class="bottombar" ng-class="{active:item.row.qta>0}">	
						    		<div class="preferred" >					    		
							    		<i class="icon ion-ios-heart-outline" ng-hide="wish.inside(item)" ng-click="wish.add(item)"></i>
							    		<i class="icon ion-ios-heart" ng-show="wish.inside(item)" ng-click="wish.remove(item)"></i>
							    	</div>						    	
							    	<div class="price"><SPAN ng-show="item.row.qta>0">{{item.row.qta}} X </SPAN> {{item.price|currency}}</div>							    	
						    	</div>						    						    				    					 
						</div>
					</div>	  
					</div>
					
	                <!-- div class="row" ng-repeat="row in list = (list| filter:{categories:i.name}) |chunk:2:i.name">	                
					    <div class="col col-50 good" ng-repeat="item in row">
					    	<div class="topbar" ng-class="{active:item.row.qta>0}">
						    	<div class="sub" ng-click="basket.sub(item)">					    		
						    		<i class="icon positive ion-ios-minus" ng-show="item.row.qta>0"></i>
						    	</div>
						    	<div class="qta positive" ng-show="item.row.qta>0">{{item.row.qta}}</div>
						    	<div class="add" ng-click="basket.sum(item)">					    		
						    		<i class="icon positive" ng-class="{'ion-ios-plus-outline':item.row==null,'ion-ios-plus':item.row.qta>0}"></i>
						    	</div>
					    	</div>					    	
					    	<img ng-src="{{item.gallery[0].img}}">
					    </div>						    				    					 
					</div-->		
					</ion-content>													
				</ion-slide>										
			</ion-slide-box>
			</span>
			</ion-content>	
			<!--ion-footer-bar class="bar-positive food">
				<div class="button-bar">					
					<a class="button button-icon icon food-italian" ng-click="slideTo(0)"></a>
					<a class="button button-icon icon food-steak" ng-click="slideTo(1)"></a>
					<a class="button button-icon icon ion-ios-nutrition" ng-click="slideTo(2)"></a>
					<a class="button button-icon icon food-sweet" ng-click="slideTo(3)"></a>
					<a class="button button-icon icon food-pizza" ng-click="slideTo(4)"></a>
					<a class="button button-icon icon food-beer" ng-click="slideTo(5)"></a>
				</div>
			</ion-footer-bar-->
			
					
            </ion-view>