
<!-- admin/prodotti/categorie.html -->
    
    	
    <ion-content padding="false" scroll="true" ng-controller="shopController" class="newgood">    	      	 
		<ion-list>			
			<presentation-bar 
				title="Option" 
				icon="ion-toggle-filled" 		
				text="Aggiungi alcune opzioni se sono necessarie"				
				>				
			</presentation-bar>
			  
			<ion-item class="item item-divider">Options</ion-item>
			
		 	<ion-item>
		 		<button class="button button-block button-positive" ng-click="addBeacon(); updateSlider();" ng-hide="beacon">voglio aggiungere iBeacon</button>		 		
		 	</ion-item>				    			
			
		</ion-list>
		
    </ion-content>    
    
<!-- admin/prodotti//categorie.html -->
