				
    <ion-content padding="false" scroll="true" class="newgood">
        	
        <div  ng-controller="shopController">
    	<presentation-bar    			
				title="Prezzi" 
				icon="ion-cash" 				
				text="quanto costa? e a quanto lo vendi sull'app?">				
		</presentation-bar>
		</div>		
		
		<ion-list>		
						  		  
			<ion-item class="item item-divider row">								
					<div class="col col-40" style="padding-left: 12px;">Prezzi</div>
					<div class="col col-30 text-left" ng-hide="onsell">base</div>
					<div class="col col-30 text-left" ng-hide="onsell">web</div>				
			</ion-item>			
			<ion-item class="row item-input" ng-repeat="(key,item) in prices" ng-hide="onsell">
				<div class="col col-40 input-label" style="padding-left: 12px;">{{key}}</div>
				<div class="col col-30 text-center"><input type="number" placeholder="100 {{key}}" ng-model="item.base"></div>
				<div class="col col-30 text-center"><input type="number" placeholder="100 {{key}}" ng-model="item.web"></div>							
			</ion-item>			
			<!--ion-item class="item item-divider row">								
					<div class="col col-40" style="padding-left: 12px;">Prezzi</div>
					<div class="col col-30 text-left" ng-hide="onsell" ng-repeat="item in shop.currencies">{{item}}</div>					
			</ion-item>			
			<ion-item class="row item-input">
				<div class="col col-40 input-label" style="padding-left: 12px;">base</div>
				<div class="col col-30 text-center" ng-repeat="cur in shop.currencies"><input type="number" placeholder="100 {{cur}}" ng-model="prices[cur].base"></div>				
			</ion-item>
			<ion-item class="row item-input" ng-hide="onsell">
				<div class="col col-40 input-label" style="padding-left: 12px;">web</div>
				<div class="col col-30 text-center" ng-repeat="cur in shop.currencies"><input type="number" placeholder="100 {{cur}}" ng-model="prices[cur].web"></div>				
			</ion-item-->
			<div class="item item-toggle">
		     Non in vendita
		     <label class="toggle toggle-assertive">
		       <input type="checkbox" ng-model="onsell">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  	</div>
		  		
			<ion-item class="item item-divider">Special</ion-item>   			  
			<div class="item item-toggle">
		     Offerta
		     <label class="toggle toggle-assertive">
		       <input type="checkbox" ng-model="item.extra.offer">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  	</div>	
		  	<div class="item item-toggle">
		     Novit&agrave;
		     <label class="toggle toggle-assertive">
		       <input type="checkbox"  ng-model="item.extra.news">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  	</div>				
		</ion-list>
		
    </ion-content>
